{% extends "nosidebar.html" %}

{% block title %}{{ category.name }} | {% endblock %}

{% block main %}
<h1>{{ category.name }}</h1>
{% if category.description %}
<p>{{ category.description }}</p>
{% endif %}
{% if category.children %}
<div class="category-subcategories">
    Subcategories:
    <ul>
    {% for subcat in category.children %}
        <li><a href="{{site.get_url(subcat)}}">{{subcat.name}}</a></li>{% if not loop.last %}, {% endif %}
    {% endfor %}
    </ul>
</div>
{% endif %}
{% if category.tools %}
<table class="tools-table">
    <thead><tr>
        <th>Tool</th>
        <th>Developer(s)</th>
        <th>Programming Language(s)</th>
        <th>License(s)</th>
    </tr></thead>
    <tbody>
        {% for tool in category.tools %}
        <tr>
            <td class="tools-table-tool">
                <a href="{{ site.get_url(tool) }}">{{ tool.name }}</a>
            </td>
            <td class="tools-table-developers"><ul>
                {% for org in tool.organizations %}
                <li><a href="{{ site.get_url(org) }}">{{ org.name }}</a></li>{% if not loop.last %}, {% endif %}
                {% endfor %}
            </ul></td>
            <td class="tools-table-proglangs"><ul>
                {% for proglang in tool.languages %}
                <li><a href="{{ site.get_url(proglang) }}">{{ proglang.name }}</a></li>{% if not loop.last %}, {% endif %}
                {% endfor %}
            </ul></td>
            <td class="tools-table-licenses"><ul>
                {% for license in tool.licenses%}
                <li><a href="{{ site.get_url(license) }}">{{ license.name }}</a></li>{% if not loop.last %}, {% endif %}
                {% endfor %}
            </ul></td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot><tr><th> </th></tr></tfoot>
</table>
{% endif %}
{% endblock %}
