{% extends "nosidebar.html" %}
{% block main %}
<p class="hero">
    The G-PST Open Tools Portal documents free and
    open source software tools and datasets that can be used to plan and
    operate decarbonized power systems.
    It currently contains information on
    <a href="{{ site.tools_url }}">{{ site.data.tools | count }} software tools</a>
    from
    <a href="{{ site.orgs_url }}">{{ site.data.organizations | count }} organizations</a>.
</p>
<ul class="category-list">
    {% for category_id, category in site.data.categories | dictsort %}
    {% if (category.tools or category.children) and not category.parent %}
    <li class="category">

        <a class="category-title" href="{{ site.get_url(category) }}">
            {{ category.name }}
        </a>

        {% if category.tools | count %}
        <ul class="category-tool-list">
            {% for tool in category.tools %}
            <li class="category-tool">
                <a class="tool-title" href="{{ site.get_url(tool) }}">
                    {{ tool.name }}
                </a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}

        {% if category.children | count %}
        <ul class="subcategory-list">
            {% for subcategory in category.children %}
            {% if subcategory.tools %}
            <li class="subcategory">
                <a class="subcategory-title" href="{{ site.get_url(subcategory) }}">
                    {{ subcategory.name }}
                </a>
                {% if subcategory.tools | count %}
                <ul class="subcategory-tool-list">
                    {% for tool in subcategory.tools %}
                    <li class="subcategory-tool">
                        <a class="tool-title" href="{{ site.get_url(tool) }}">
                            {{ tool.name }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
            {% endif %}
            {% endfor %}
        </ul>
        {% endif %}

    </li>
    {% endif %}
    {% endfor %}
</ul>
<p class="hero">
    See something missing? Help us improve by <a href="/contribute">submitting a tool</a>!
</p>
{% endblock %}
