{% extends "base.html" %}
{% block body %}
<ul class="category-list">
    {% for category_id, category in site.data.categories | dictsort %}
    {% if (category.tools or category.children) and not category.parent %}
    <li class="category">

        <a class="category-title" href="{{ site.get_categoryurl(category_id) }}">
            {{ category.name }}
        </a>

        {% if category.tools | count %}
        <ul class="category-tool-list">
            {% for tool in category.tools %}
            <li class="category-tool">
                <a class="tool-title" href="{{ site.get_toolurl(tool.id) }}">
                    {{ tool.name }}
                </a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}

        {% if category.children | count %}
        <ul class="subcategory-list">
            {% for subcategory in category.children %}
            {% if subcategory.tools %}
            <li class="subcategory">
                <a class="subcategory-title" href="{{ site.get_categoryurl(subcategory.id) }}">
                    {{ subcategory.name }}
                </a>
                {% if subcategory.tools | count %}
                <ul class="subcategory-tool-list">
                    {% for tool in subcategory.tools %}
                    <li class="subcategory-tool">
                        <a class="tool-title" href="{{ site.get_toolurl(tool.id) }}">
                            {{ tool.name }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
            {% endif %}
            {% endfor %}
        </ul>
        {% endif %}

    </li>
    {% endif %}
    {% endfor %}
</ul>
{% endblock %}
