{% extends "nosidebar.html" %}

{% block title %}{{ license.name }} | {% endblock %}

{% block main %}

<h1>{{ license.name }}</h1>

{% if license.description %}
<p>{{ license.description }}</p>
{% endif %}

{% if license.tools %}
<table class="tools-table">
    <thead><tr>
        <th>Tool</th>
        <th>Category(s)</th>
        <th>Developer(s)</th>
        <th>Programming Language(s)</th>
    </tr></thead>
    <tbody>
        {% for tool in license.tools %}
        <tr>
            <td class="tools-table-tool">
                <a href="{{ site.get_url(tool) }}">{{ tool.name }}</a>
            </td>
            <td class="tools-table-categories"><ul>
                {% for cat in tool.categories %}
                <li><a href="{{ site.get_url(cat) }}">{{ cat.name }}</a></li>{% if not loop.last %}, {% endif %}
                {% endfor %}
            </ul></td>
            <td class="tools-table-developers"><ul>
                {% for org in tool.organizations %}
                <li><a href="{{ site.get_url(org) }}">{{ org.name }}</a></li>{% if not loop.last %}, {% endif %}
                {% endfor %}
            </ul></td>
            <td class="tools-table-proglangs"><ul>
                {% for proglang in tool.languages %}
                <li><a href="{{ site.get_url(proglang) }}">{{ proglang.name }}</a></li>{% if not loop.last %}, {% endif %}
                {% endfor %}
            </ul></td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot><tr><th> </th></tr></tfoot>
</table>
{% endif %}

{% endblock %}
