{% extends "nosidebar.html" %}

{% block title %}{{ proglang.name }} | {% endblock %}

{% block main %}
<h1>{{ proglang.name }}</h1>
{% if proglang.description %}
<p>{{ proglang.description }}</p>
{% endif %}
{% if proglang.tools %}
<table class="tools-table">
    <thead><tr>
        <th>Tool</th>
        <th>Category(s)</th>
        <th>Developer(s)</th>
        <th>License(s)</th>
    </tr></thead>
    <tbody>
        {% for tool in proglang.tools %}
        <tr>
            <td class="tools-table-tool">
                <a href="{{ site.get_url(tool) }}">{{ tool.name }}</a>
            </td>
            <td class="tools-table-categories"><ul>
                {% for cat in tool.categories %}
                <li><a href="{{ site.get_url(cat) }}">{{ cat.name }}</a></li>{% if not loop.last %}, {% endif %}
                {% endfor %}
            </ul></td>
            <td class="tools-table-developers"><ul>
                {% for org in tool.organizations %}
                <li><a href="{{ site.get_url(org) }}">{{ org.name }}</a></li>{% if not loop.last %}, {% endif %}
                {% endfor %}
            </ul></td>
            <td class="tools-table-licenses"><ul>
                {% for license in tool.licenses%}
                <li><a href="{{ site.get_url(license) }}">{{ license.name }}</a></li>{% if not loop.last %}, {% endif %}
                {% endfor %}
            </ul></td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot><tr><th> </th></tr></tfoot>
</table>
{% endif %}
{% endblock %}
